<!DOCTYPE html>
<html>
  <head>
    <title>Add Job</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') %>
    <h1>New Job</h1>
    <form action="/companies/<%= companyId %>/new-job" method="post"><!--Previous action="/companies/<%= companyId %>/new-job". As I do not have an individual company page yet I am going to send the user back to the companies page-->
      <label for="title">Job Title:</label>
      <input type="text" id="title" name="title" required><br><br>
      
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" required><br><br>
      
      <label for="description">Job Description:</label>
      <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
      
      <button type="submit">Add Job</button>
    </form>
  </body>
</html>
